<div class="header">
  <span class="header-title">Agent Logs for {{hostname}}</span>
  <button name="close">Close</button>
</div>

<table>
  <tr>
    <th>Time</th>
    <th>Level</th>
    <th>Process</th>
    <th>Thread</th>
    <th>Logger</th>
    <th>Message</th>
    <th>Error Code</th>
    <th>Throwable</th>
  </tr>
{{#each logs}}
  <tr>
    <td>{{timestamp}}</td>
    <td>{{level}}</td>
    <td>{{processName}}</td>
    <td>{{thread}}</td>
    <td>{{logger}}</td>
    <td style="width:60%;">{{message}}</td>
    <td>{{errorCode}}</td>
    <td>{{throwable}}</td>
  </tr>
{{else}}
  <tr>
    <td colspan="8">Waiting for logs...</td>
   </tr>
{{/each}}
