<h1>Agent Logs for {{hostname}}</h1>
<button name="close">Close</button>
<hr/>

<table>
  <tr>
    <th>Time</th>
    <th>Level</th>
    <th>Process</th>
    <th>Thread</th>
    <th>Logger</th>
    <th>Message</th>
    <th>Error Code</th>
    <th>Throwable</th>
  </tr>
{{#each logs}}
  <tr>
    <td>{{timestamp}}</td>
    <td>{{level}}</td>
    <td>{{processName}}</td>
    <td>{{thread}}</td>
    <td>{{logger}}</td>
    <td>{{message}}</td>
    <td>{{errorCode}}</td>
    <td>{{throwable}}</td>
  </tr>
{{else}}
  <tr>
    <td colspan="8">Waiting for logs...</td>
   </tr>
{{/each}}
