<div class="agent-tile-header">
   <strong>{{hostname}}</strong>
   <button name="view-logs">View Logs</button>
</div>

<table>
  <tr>
    <th>Last Ping</th>
    <th>CPU Utilization</th>
    <th>Disk Utilization</th>
    <th>Platform</th>
  </tr>
  <tr>
    <td>{{lastPing}}</td>
    <td>{{cpuUtilization}}</td>
    <td>{{diskUtilization}}</td>
    <td>{{platform.os}} {{platform.arch}}</td>
  </tr>
</table>

<table>
  <caption>Processes</caption>
  <tr>
    <th>Name</th>
    <th>Goal Version</th>
    <th>Error Code</th>
    <th>Plan</th>
  </tr>
  {{#each processDataCollection}}
    <tr>
      <td>{{name}}</td>
      <td>{{lastGoalVersionAchieved}}</td>
      <td>{{errorCode}}</th>
      <td>{{#each plan}}{{this}} {{else}}No Plan{{/each}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4">Waiting for process information</td>
  {{/each}}
</table>

<table>
  <caption>Disks</caption>
  <tr>
    <th>Name</th>
    <th>Space Used</th>
    <th>Space Free</th>
    <th>Tags</th>
  </tr>
  {{#each diskDataCollection}}
    <tr>
      <td>{{name}}</td>
      <td>{{diskSpaceUsed}}</th>
      <td>{{diskSpaceFree}}</td>
      <td>{{#each tags}}{{this}} {{else}}No Tags{{/each}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4">Waiting for disk information</td>
  {{/each}}
</table>

<div class="info-title">CPU Load</div>
<div class="cpu-info">
  <table class="cpu-info-table">
    <tr>
      <td>System</td>
      <td style="color:red;">5%</td>
    </tr>
    <tr>
      <td>User</td>
      <td style="color: blue;">5%</td>
    </tr>
    <tr>
      <td>Idle</td>
      <td>5%</td>
    </tr>
  </table>
  <div class="cpu-info-chart">
</div>
